# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.iml
*.cov
*.gob

*.DS_Store

.idea/

services/data/*.txt
services/i2b2/*.txt

simul/test_data/*.csv
simul/test_data/graphs/*.pdf
simul/test_data/time_data/*.txt
simul/build/
simul/deploy/
simul/simul
simul/deter.toml

app/default/*.toml
app/default/test
app/default/service_storage
app/i2b2/*.txt
app/i2b2/loader/files/*.sql
app/i2b2/loader/files/*.csv

unlynx
unlynxI2B2
server_list

pre_compute_multiplications.gob
